body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background: #f5f6f8;
  color: #222;
}

.global-nav {
  background: #111;
  padding: 0.8rem 1rem;

  a {
    color: #fff;
    margin-right: 1rem;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.hero {
  text-align: center;
  padding: 3rem 1rem;
}

.content {
  max-width: 900px;
  margin: auto;
  padding: 2rem 1rem;
  .tool{
    img{
      width: 80%;
    }
  }
}

.card {
  background: #fff;
  padding: 1.5rem;
  margin: 1.5rem;
  border-radius: 6px;
}

.tool, .memo {
  background: #fff;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  border-radius: 6px;
}
.github-button, .button, .info-button {
  display: inline-flex;
  align-items: center;
  gap: 0.8rem;

  padding: 1rem 1.2rem;
  background: #111;
  color: #fff;
  border-radius: 8px;
  text-decoration: none;

  img {
    width: 32px;
    height: 32px;
    object-fit: contain;
  }

  span {
    font-size: 1rem;
    font-weight: 600;
  }

  &:hover {
    background: dimgray;
  }
}
.button{
  background: deepskyblue;
  &:hover {
    background: lightskyblue;
  }
}
.info-button{
  background: green;
  &:hover {
    background: limegreen;
  }
}
footer {
  text-align: center;
  padding: 1rem;
  background: #111;
  color: #fff;
}